---
layout: "layouts/main.njk"
---

<article class="flow">
<h1 class="article__title">{{ title }}</h1>
<div class="tags__list">
  {%- for tag in tags %} {% if tag != 'post' %}
  <li class="tags__list-item">
    <a href="{{ '/tags/' | url }}{{ tag }}" class="tag">{{ tag }}</a>
  </li>
  {% endif %} {% endfor -%}
</div>
{{ content | safe }}
</article>
