---
layout: "layouts/page.njk"
---
<section>
    <h1 class="title">{{ title }}</h1>
    {%- for article in collections.articles %}
    <article class="article">
      <h2 class="article__title"><a href="{{ article.url }}">{{ article.data.title }}</a></h2>
      <p class="article__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing.
      </p>
    </article>
    {% endfor -%}
</section>
