---
layout: 'layouts/main.njk'
title: 'My Eleventy Blog'
---

<section>
  <div class="hero">
    <h1>My Eleventy Blog</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
      nesciunt, deserunt exercitationem beatae enim reprehenderit corrupti
      possimus consequatur nostrum similique.
    </p>
    <div>
      {{ collections.pages  | log }}
    </div>
  </div>
</section>
