<div class="flex">

<div class="footer__one">
  <h4>About Eleventy v3</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
    suscipit hic voluptatum minus amet ipsum!
  </p>
</div>
<div class="footer__two">
  <a href="#">About</a>
  <a href="#">FAQ</a>
  <a href="#">Contact</a>
</div>
<div class="footer__three">
  <a href="#">github</a>
  <a href="#">mastodon</a>
</div>
</div>